@mixin clearfix {
    &::after {
        content: "";
        display: table;
        clear: both;
    }
}

@mixin absCenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


@mixin respond($breakpoint) {
    @if $breakpoint == phone {
        @media only screen and (max-width: 800px) { @content };    
    }
    @if $breakpoint == big-desktop {
        @media only screen and (min-width: 112.5em) { @content };    
    }
}

